ion-view(view-title="home")
	ion-content()
		div.title
			h1 DigiControl
			//- h2 hel adwja djkahkjdawa wakhjl wdajhk awdjk

		div.form
			div.input
				input(ng-model='ip' ng-pattern='ippattern' placeholder='xxx.xxx.xxx.xxx' ng-class="{warn: !ip}")
				label.active IP Address

			div.input
				input(ng-model='port' ng-pattern='portpattern' ng-class='{warn: !port}')
				label.active Port

			div.fbitem
				button(ng-click="connect()") Connect


		div.bonjour
			ul
				li(ng-repeat="host in services")
					div.fbitem(ng-click="connect(host)")
						button {{host.name}}
				//- li(ng-repeat="host in services")
					p {{host.name}}
