doctype html
html(ng-app="DigiControl")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")

		//- iOS Full screen
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")

		//- CSS
		link(rel="manifest", href="manifest.json")
		link(rel="stylesheet", href="css/dist.css")

		//- JS
		script(src="js/vendor.js")
		script(src="js/dist.js")
		script(src="cordova.js")

		title DigiControl

	body(ng-controller='AppCtrl')
		ion-pane
			ion-content
				ui-view
