.title
	background-color: #222
	width: 100%
	z-index: 2
	padding: 2rem 0

	h1
		font-size: 48px
		margin: 0
		padding-bottom: .5rem
		text-align: left
		padding-left: 2rem

	h2
		font-size: 24px
		margin: 0
		font-weight: lighter
		padding-left: 2rem


.fbitem
	width: 100%
	display: flex
	align-items: center
	justify-content: center

.fbitem:nth-child(1) .btn
	margin-top: 0
